<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartPark.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <SmartPark.Properties.Settings>
            <setting name="Stall_total" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialPort_num" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="SerialPort_baudRate" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="SerialPort_dataBits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="SerialPort_stopBits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialPort_parity" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loc_lon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Loc_lat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Price_1" serializeAs="String">
                <value>0元</value>
            </setting>
            <setting name="Price_2" serializeAs="String">
                <value>0元</value>
            </setting>
            <setting name="Remark_1" serializeAs="String">
                <value>大型车</value>
            </setting>
            <setting name="Remark_2" serializeAs="String">
                <value>小型车</value>
            </setting>
            <setting name="Type_price_time" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Type_price_count" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Account" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Address" serializeAs="String">
                <value />
            </setting>
            <setting name="Park_id" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ParkName" serializeAs="String">
                <value />
            </setting>
            <setting name="IsFirstIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Owner" serializeAs="String">
                <value />
            </setting>
            <setting name="Owner_id" serializeAs="String">
                <value>0</value>
            </setting>
        </SmartPark.Properties.Settings>
    </userSettings>
</configuration>